body{
    margin: 5%;
}

header{
    margin: 20px 0;
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer{
    margin-top: 50px;
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}